<div class="menu-header">
    <div class="menu-title">QUASARUM</div>
    <div class="menu-subtitle">Космический патогенез мощи и трансформации</div>
</div>

<div class="toc-section">
    <div class="toc-title">Часть I: КВАЗАР КАК АРХЕТИП. ОТ АСТРОФИЗИКИ К ГОМЕОПАТИИ</div>
    <ul class="toc-list">
        <li class="toc-item"><a href="#chapter1" class="toc-link" data-chapter="1">Глава 1. Загадочные маяки Вселенной: что такое квазары</a></li>
        <li class="toc-item"><a href="#chapter2" class="toc-link" data-chapter="2">Глава 2. От небесной механики к гомеопатическому принципу: обоснование патогенеза</a></li>
    </ul>
</div>

<div class="toc-section">
    <div class="toc-title">Часть II: КЛИНИЧЕСКОЕ ПРИМЕНЕНИЕ И АНАЛИЗ</div>
    <ul class="toc-list">
        <li class="toc-item"><a href="#chapter3" class="toc-link" data-chapter="3">Глава 3. Протокол прувинга и методология</a></li>
        <li class="toc-item"><a href="#chapter4" class="toc-link" data-chapter="4">Глава 4. Зафиксированные симптомы и состояния</a></li>
        <li class="toc-item"><a href="#chapter4" class="toc-link" data-chapter="5">Глава 5. Quasarum в контексте класса Невещественных препаратов</a></li>
        <li class="toc-item"><a href="#chapter5" class="toc-link" data-chapter="6">Глава 6. Дифференциальная диагностика</a></li>
        <li class="toc-item"><a href="#chapter5" class="toc-link" data-chapter="7">Глава 7. Выводы</a></li>
    </ul>
</div>

<div class="toc-section">
    <div class="toc-title">Часть III: MATERIA MEDICA QUASARUM</div>
    <ul class="toc-list">
        <li class="toc-item"><a href="#chapter6" class="toc-link" data-chapter="8">Глава 8. Фундаментальные принципы и ядро препарата</a></li>
        <li class="toc-item"><a href="#chapter7" class="toc-link" data-chapter="9">Глава 9. Детальная симптоматология Quasarum</a></li>
    </ul>
</div>

<div class="toc-section">
    <div class="toc-title">Часть IV: ПРАКТИЧЕСКОЕ ПРИМЕНЕНИЕ И ЗАКЛЮЧЕНИЕ</div>
    <ul class="toc-list">
        <li class="toc-item"><a href="#chapter8" class="toc-link" data-chapter="10">Глава 10. Ключевые показания к назначению Quasarum</a></li>
        <li class="toc-item"><a href="#chapter9" class="toc-link" data-chapter="11">Глава 11. Заключение</a></li>
    </ul>
</div>

<div class="toc-section">
    <div class="toc-title">Дополнительно</div>
    <ul class="toc-list">
        <li class="toc-item"><a href="#references" class="toc-link" data-chapter="references">Используемые материалы</a></li>
        <li class="toc-item"><a href="#gallery" class="toc-link" data-chapter="gallery">Галерея изображений</a></li>
    </ul>
</div>
